p {
  font-family: "regular";
  font-size: 18px;
  line-height: 1.6;
  color: #fff; }

.headline {
  font-family: "thin";
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase; }
  .headline span {
    display: block;
    font-family: "black"; }

section,
aside {
  font-family: "regular";
  font-size: 18px; }
