// used by the typing plugin to create blinking cursor effect
@-webkit-keyframes blink{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@-moz-keyframes blink{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes blink{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}

// animated arrow on the home page
@-webkit-keyframes slowBounce{
    0%{
        top:10px
    }
    50%{
        top:-20px
    }
    100%{
        top:10px
    }
}
@-moz-keyframes slowBounce{
    0%{
        top:10px
    }
    50%{
        top:-20px
    }
    100%{
        top:10px
    }
}
@keyframes slowBounce{
    0%{
        top:10px
    }
    50%{
        top:-20px
    }
    100%{
        top:10px
    }
}


// used to auto fade in div.headline in interior page <aside> tags
@-webkit-keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@-moz-keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}