body {
	background-color: $color-secondary-dark;

	&.interior-page {
		-webkit-animation:fadeIn 1s ease-in;
		-moz-animation:fadeIn 1s ease-in;
		animation:fadeIn 1s ease-in
	}

	&.has-no-scroll {
		overflow: hidden;
	}
}

.button {
	display: inline-block;
	font-family: "bold";
	font-size: 18px;
	padding: 20px;
	text-align: center;
	text-decoration: none;

	&.is-primary {
		background-color: $button-background-color-primary;
		color: $button-text-color-primary;

		&:hover {
			background-color: $button-background-color-primary-hover;
			color: $button-text-color-primary-hover;
		}
	}
}

.content {
	.banner {
		margin-bottom: 20px;
		padding: 20px;

		p {
			color: $color-secondary-light;
			font-family: "black-italic";
			font-size: 23px;
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;
		}

		a {
			display: block;
			font-family: "black-italic";

			@media #{$medium-up} {
				display: inline-block;
			}
		}

		&.is-primary {
			background-color: $banner-background-color-primary;
			color: $color-secondary-light;
		}
	}
}

//customizable margin mixins
.margin {
	@include margin(20px 0);
}

.margin-bottom {
	@include margin(0 0 40px 0);
}

ul {
	margin: 0;
	padding: 0;

	&.list {
		margin-left: 20px;
		margin-bottom: 20px;
		list-style-type: disc;
		

		li {
			margin: 0 3px 5px 0;
			padding: 10px 15px;
		}
	}

	&.inline-list {
		margin-left: 0;
		margin-bottom: 20px;

		li {
			display: inline-block;
		}
	}

	&.block-list {
		margin-left: 0;

		li,
		a {
			display: block;
		}
	}

	&.has-row-colors {
		li {
			background-color: darken($color-primary-dark, 5%);
			color: $color-secondary-light;
		}
	}
}