body {
	background-color: $color-secondary-dark;

	&.interior-page {
		@include animation(fadeIn 1s ease-in);
	}

	&.has-no-scroll {
		overflow: hidden;
	}
}

.button {
	font-family: "bold";
	font-size: 18px;
	padding: 20px;
	text-align: center;

	&.is-primary {
		background-color: $button-background-color-primary;
		color: $button-text-color-primary;
	}
}

.content,
.work {
	.banner {
		margin-bottom: 20px;
		padding: 20px;

		p {
			color: $color-secondary-light;
			font-family: "black-italic";
			font-size: 28px;
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;
		}

		a {
			@include transition(color .5s);
			color: $color-secondary-light;
			font-family: "black-italic";
			text-decoration: none;

			@media #{$medium-up} {
				display: inline-block;
			}

			&:hover {
				color: darken($banner-background-color-primary, 10%);
			}
		}

		&.is-primary {
			background-color: $banner-background-color-primary;
			color: $color-secondary-light;
		}
	}
}

//customizable margin mixins
.margin {
	@include margin(20px 0);
}

.margin-bottom {
	@include margin(0 0 40px 0);
}

ul {
	li {
		list-style-type: none;
	}
}

ol {
	li {
		list-style-position: inside;
	}
}

ul,
ol {
	margin: 0;
	padding: 0;

	&.list {
		margin-bottom: 20px;

		li {
			margin: 0 3px 5px 0;
			padding: 10px 15px;
		}
	}

	&.inline-list {
		margin-bottom: 20px;

		li {
			display: inline-block;
		}
	}

	&.block-list {
		li,
		a {
			display: block;
		}
	}

	&.check-list {
		li {
			&:before {
				content: "✔";
				margin-right: 10px;
			}
		}
	}

	&.has-row-colors {
		li {
			background-color: darken($color-primary-dark, 5%);
			color: $color-secondary-light;
		}
	}
}