[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: "portfolio-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .7em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
 
}

.icon-briefcase:before { content: '\e800'; }
.icon-paper-plane:before { content: '\e801'; }
.icon-github-circled:before { content: '\e802'; }
.icon-th:before { content: '\e803'; }
.icon-linkedin-squared:before { content: '\e804'; }
.icon-facebook:before { content: '\e805'; }
.icon-instagramm:before { content: '\e806'; }
.icon-menu:before { content: '\e807'; }
.icon-cancel:before { content: '\e808'; }
.icon-home:before { content: '\e809'; }