body {
	font-size: 62.5%;
	letter-spacing: .5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px 0;
}

h1 {
	font-size: 34px;

	@media #{$medium-up} {
		font-size: 50px;
	}
}

h2 {
	font-size: 30px;

	@media #{$medium-up} {
		font-size: 40px;
	}
}

h3 {
	font-size: 26px;

	@media #{$medium-up} {
		font-size: 35px;
	}
}

h4 {
	font-size: 20px;
	font-family:"light-italic";

	@media #{$medium-up} {
		font-size: 30px;
	}
}

h5 {
	font-size: 18px;
	font-family:"thin-italic";

	@media #{$medium-up} {
		font-size: 22px;
	}
}

p {
	@include margin(0 0 20px 0);
}

p,
td {
	font-family: "regular";
	font-size: 18px;
	line-height: 1.6;

	aside & {
		font-family: "thin";
	}
}

b {
	font-family: "black";
	letter-spacing: 1.5px;
}

strong {
	font-family: "bold";
}

section,
aside {
	font-family: "regular";
	font-size: 18px;

	p,
	td,
	li,
	a {
		color: #fff;
	}
}

.content {
	p,
	td,
	li,
	a,
	.headline,
	.subheadline {
		color: $color-primary-dark;
	}
}

.body-copy {
	a {
		-webkit-transition:all 0.25s ease-in;
		-moz-transition:all 0.25s ease-in;
		transition:all 0.25s ease-in;
		border-bottom: none;
		font-family: "bold";
		text-decoration: none;

		&:hover {
			border-bottom: 3px solid $color-primary-light;
		}
	}
}

.headline,
.subheadline {
	@include margin(40px 0);
}

.headline {
	font-family: "thin";
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;

	@media #{$medium-up} {
		font-size: 50px;
	}

	.quotes-hoi-redesign & {
		font-size: 38px;
	}

	span {
		display: block;
		font-family: "black"
	}
}

.subheadline {
	background-color: $color-primary-light;
	font-family: "bold";
	font-size: 26px;
	line-height: 1;
	padding: 10px;
	text-transform: uppercase;
}

hr {
	margin: 3rem 0;
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

blockquote {
	border-left: 10px solid $color-tertiary-dark;
	padding-left: 1.5em;
	margin-left: 0;
	font-family:"light-italic";
	position: relative;

	&.twitter-tweet {
		border-left: 0;
		padding-left: 0;
		font-family: default;
	}
}

.curly-quotes:before, .curly-quotes:after {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	line-height: 60px;
	font-size: 80px;
	opacity: .2;
  }
  
  .curly-quotes:before {
	content: '\201C';
	margin-right: 10px;
	margin-left: -8px;
  }

  figcaption {
	padding-left: 2em;
	margin-bottom: 2em;
  }