// portfolio site colors
$color-primary-dark: #434343; // gray
$color-primary-light: #f6c80f; // yellow
$color-secondary-dark: #262626; // dark gray
$color-secondary-light: #f6f6f6; // off-white
$color-tertiary-dark: #27acc0; // blue

$banner-background-color-primary: $color-tertiary-dark;
$button-background-color-primary: $color-tertiary-dark;
$button-text-color-primary: $color-secondary-light;

// project palettes

// HI redesign
$hi-base-grey: #e8e8e8;
$hi-grey-lighter: #f6f6f6;
$hi-grey-darker: #333;
$hi-base-red: #a80000;
$hi-base-green: #3cada8;
$hi-green-darker: #33938f;

// Q.HOI redesign
$qhoi-base-grey: #909090;
$qhoi-base-purple: #5f184a;
$qhoi-base-yellow: #efd777;
$qhoi-grey-lighter: #dedede;
$qhoi-purple-darker: #48004b;
$qhoi-blue-accent: #37a6ca;