@include keyframes(blink) {
    0% {
    	opacity:1;
    }
    50% {
    	opacity:0;
    }
    100% {
    	opacity:1;
    }
}

@include keyframes(slowBounce) {
	0% {
		top: 10px;
	}
	50% {
		top: -20px;
	}
	100% {
		top: 10px;
	}
}