body {
	background-color: $secondary-dark;
	font-size: 62.5%;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}

	&.inline-list {
		margin-bottom: 20px;

		li {
			color: $secondary-light;
			display: inline-block;
			margin: 0 3px 5px 0;
			padding: 10px 15px;
			background-color: darken($primary-dark, 5%);
		}
	}
}

.body-copy {
	background-color: $secondary-light;
	padding: 10px;

	@media #{$medium-up} {
		padding: 40px;
	}

	@media #{$large-up} {
		padding: 70px;
	}

	p {
		color: $primary-dark;
	}
}