body {
	background-color: $secondary-dark;

	&.interior-page {
		@include animation(fadeIn 1s ease-in);
	}
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}

	&.list {
		margin-bottom: 20px;

		li {
			margin: 0 3px 5px 0;
			padding: 10px 15px;
		}
	}

	&.inline-list {
		margin-bottom: 20px;

		li {
			display: inline-block;
		}
	}

	&.block-list {
		li,
		a {
			display: block;
		}
	}

	&.has-row-colors {
		li {
			background-color: darken($primary-dark, 5%);
			color: $secondary-light;
		}
	}
}

.body-copy {
	background-color: $secondary-light;
	padding: 10px;

	@media #{$medium-up} {
		padding: 40px;
	}

	@media #{$large-up} {
		padding: 70px;
	}
}