// uses project palette variables
.color-palette {
	@include clearfix;
	margin-bottom: 20px;

	&.hi-redesign {
		.base-grey {
			background-color: $hi-base-grey;
		}

		.base-red {
			background-color: $hi-base-red;
		}

		.base-green {
			background-color: $hi-base-green;
		}

		.light-grey {
			background-color: $hi-grey-lighter;
		}

		.dark-grey {
			background-color: $hi-grey-darker;
		}

		.dark-green {
			background-color: $hi-green-darker;
		}
	}

	&.quotes-hoi-redesign {
		.base-grey{
			background-color: $qhoi-base-grey;
		}

		.base-purple {
			background-color: $qhoi-base-purple;
		}

		.base-yellow {
			background-color: $qhoi-base-yellow;
		}

		.light-grey {
			background-color: $qhoi-grey-lighter;
		}

		.dark-purple {
			background-color: $qhoi-purple-darker;
		}

		.accent-blue {
			background-color: $qhoi-blue-accent;
		}
	}

	// base color sample card-like appearance
	.color {
		box-shadow: 0 2px 2px 2px rgba(0,0,0,.25);
		border: 5px solid #fff;
		color: $primary-dark;
		height: 15vh;
		position: relative;

		@media #{$medium-up} {
			height: 25vh;
		}
	}

	span {
		background-color: #fff;
		bottom: 0;
		display: inline-block;
		font-size: 11px;
		left: 0;
		line-height: 30px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		@media #{$medium-up} {
			font-size: 14px;
		}
	}
}