nav {
	background-color: $primary-light;
	display: none;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding: 30px;
	position: absolute;
	top: 0;
	width: 100%;

	&.is-shown {
		display: block;
	}

	a {
		color: $primary-dark;
		display: block;
		font-family: "black";
		font-size: 50px;
		text-decoration: none;
		text-transform: uppercase;
	}


	.nav-close {
		font-family: "regular";
		font-size: 30px;
		margin-bottom: 20px;
		text-transform: uppercase;

		span {
			display: inline-block;
			font-family: "black";
		}
	}

	.name-logo {
		@include transform(rotate(-25deg));
		@include transition(color 1s linear);
		color: lighten($primary-light, 10%);
		left: -23%;
		position: relative;
		top: 50px;

		&.logo-fade {
			color: $primary-light;
		}
	}
}