section {
	overflow: hidden;
	position: relative;

	.is-sticky { // add a js media match here for >= desktop
		@media #{$large-up} {
			position: fixed;
			top: 0;
			z-index: 9999;
		}
	}

	&.intro {
		color: $secondary-light;
		padding: 10vh 0;

		@media #{$medium-up} {
			padding: 2vh 0;
		}

		@media #{$large-up} {
			@include transition(background-color .5s linear);
			background-color: $secondary-dark;
			height: 1000px;
			padding: 3vh 0;
		}

		&.has-color-transition {
			@media #{$large-up} {
				background-color: $primary-light;
			}
		}

		a {
			display: block;
			margin-bottom: 3vh;
			color: $secondary-light;
			text-align: center;
			font-size: 5vw;
			font-family: "thin-italic", sans-serif;
			line-height: 5vw;
			text-decoration: none;
		} // a

		img {
			@include animation(slowBounce 3s infinite);
			position: relative;
			top: 0;
		}
	} // intro

	&.contact {
		@media #{$large-up} {
			height: 840px;
		}
	}
} // section

aside {
	background-color: $primary-dark;
	color: $secondary-light;
	padding: 20px 20px 99999px 20px;
	margin-bottom: -99999px;
	width: 100%;
	z-index: 200;

	@media #{$large-up} {
		position: absolute;
		width: 32%;
	}

	&.align-left {
		@media #{$large-up} {
			left: 0;
		}
	} // align left

	&.align-right {
		@media #{$large-up} {
			left: 68%;
		}
	} // align right

	.sidebar-copy {
		position: relative;
		z-index: 200;

		@media #{$large-up} {
			height: 1000px; // help cover <nav> below
		}
	}

	// <ul> style on asides :: see contact section
	.list {
		a {
			@include transition(color .5s, left .5s);
			color: $secondary-light;
			left: 0;
			position: relative;
			text-decoration: none;

			&:hover {
				color: darken($secondary-light, 25%);
				left: 10px;
			}
		}// a
	}

	@media #{$large-up} {
		.headline,
		p,
		table {
			@include transition(opacity 2s);
			opacity: .3;
		} // aside content element transitions

		&.fadeIn {
			.headline,
			p,
			table {
				opacity: 1;
			}
		}
	} // desktop fadeIn transitions

	.interior-page & {
		.headline,
		p,
		table {
			opacity: 1;
		}
	}
} // aside

.content {
	background-color: $secondary-light;
	float: left;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	width: 100%;

	@media #{$large-up} {
		float: none;
		position: relative;
		width: 68%;
	}

	&.align-left {
		left: 0;
	} // align left

	&.align-right {
		@media #{$large-up} {
			left: 32%;
		}
	} // align right
} // content