section.work {
	position: relative;
	overflow: hidden;

	.is-sticky { // add a js media match here for >= desktop
		@media #{$large-up} {
			position: fixed;
			top: 0;
			z-index: 9999;
		}
	}
}

aside {
	background-color: $primary-dark;
	color: $secondary-light;
	padding: 2vw 2vw 99999px 2vw;
	margin-bottom: -99999px;
	width: 100%;

	@media #{$large-up} {
		position: absolute;
		width: 32%;
	}

	&.align-left {
		@media #{$large-up} {
			left: 0;
		}
	}

	&.align-right {
		@media #{$large-up} {
			left: 68%;
		}
	}
}

.content {
	background-color: $secondary-light;
	float: left;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	width: 100%;

	@media #{$large-up} {
		float: none;
		position: relative;
		width: 68%;
	}

	&.align-left {
		left: 0;
	}

	&.align-right {
		@media #{$large-up} {
			left: 32%;
		}
	}
}