section,
aside {
	font-family: "regular";
	font-size: 18px;
}

.headline {
	font-family: "thin";
	font-size: 50px;
	line-height: 1;
	text-transform: uppercase;

	span {
		display: block;
		font-family: "black"
	}
}

.subheadline {
	background-color: $primary-light;
	color: $primary-dark;
	font-family: "bold";
	font-size: 26px;
	line-height: 1;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
}

b {
	font-family: "black";
}

strong {
	font-family: "bold";
}

p,
td {
	font-family: "thin";
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
}