body {
	font-size: 62.5%;
	letter-spacing: .5px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

p {
	margin: 0 0 $global-margin-bottom 0;
}

p,
td {
	font-family: "thin";
	font-size: 18px;
	line-height: 1.6;
	
}

b {
	font-family: "black";
	letter-spacing: 1.5px;
}

strong {
	font-family: "bold";
}

section,
aside {
	font-family: "regular";
	font-size: 18px;

	p,
	td,
	li,
	a {
		color: #fff;
	}
}

.content {
	p,
	td,
	li,
	a,
	.headline,
	.subheadline {
		color: $primary-dark;
	}

	a {
		@include transition(all .25s ease-in);
		border-bottom: none;
		font-family: "bold";
		text-decoration: none;

		&:hover {
			border-bottom: 3px solid $primary-light;
		}
	}
}

.headline,
.subheadline {
	margin-bottom: $global-margin-bottom;
}

.headline {
	font-family: "thin";
	font-size: 50px;
	line-height: 1;
	text-transform: uppercase;

	span {
		display: block;
		font-family: "black"
	}
}

.subheadline {
	background-color: $primary-light;
	font-family: "bold";
	font-size: 26px;
	line-height: 1;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
}